<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Home</title>

    {% include 'imagefilters/navbar.html' %}

    <!--<link rel="stylesheet" type="text/css" href="{% static 'imagefilters/css/image_gallery.css' %}">-->
    <link rel="stylesheet" href="{% static 'imagefilters/css/custom_css_styles.css' %}">

</head>
<body>

<section>
    <div class="section-container">

        <div class="basic-infos-container">
        <h5 class="card-title">Basic infos</h5>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>{{request.user.username}}</td>
                <td>{{request.user.email}}</td>
            </tr>
            </tbody>
        </table>

        <a href="" class="btn btn-primary">Update</a>
    </div>

        <div class="main-content">
            <div class="box-2">
                {% for image in images %}
                    {% if image %}
                        <a href="{% url 'imagefilters:filtering_options' image.pk %}">
                            <img class="card card-1" src="{{image.original_image.url}}" alt="">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="my-button">
                <a href="{% url 'imagefilters:upload_imgs' %}" class="btn btn-primary">Upload images</a>
            </div>
        </div>

    </div>

</section>

<footer>
    Copyright &copy; 2020
</footer>

</body>
</html>