<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Home</title>

    {% include 'imagefilters/navbar.html' %}

    <!--<link rel="stylesheet" type="text/css" href="{% static 'imagefilters/css/image_gallery.css' %}">-->
    <link rel="stylesheet" href="{% static 'imagefilters/css/custom_css_styles.css' %}">

</head>
<body>

<section>

    <div class="section-container">
        <div class="title-context">Your uploaded images</div>
        <div class="main-content">
            <div class="box-2">
                {% for image in images %}
                    {% if image %}
                        <a href="{% url 'imagefilters:filtering_options' image.pk %}">
                            <img class="card card-1" src="{{image.original_image.url}}" alt="">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="my-button">
                <a href="{% url 'imagefilters:upload_imgs' %}" class="btn btn-primary">Upload images</a>
            </div>
        </div>

    </div>

</section>

<footer>
    Copyright &copy; 2020
</footer>

</body>
</html>