<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Filtering options</title>

    {% include 'imagefilters/bootstrap_includes.html' %}
    <link rel="stylesheet" href="{% static 'imagefilters/css/custom_css_styles.css' %}">

    {% include 'imagefilters/non_main_navbar.html' %}
</head>
<body>

<h1>Filtering options</h1>


<section class="services py-5 bg-light1 text-center">
    <div class="section-container">

        <div class="side-orig-img-container">
                <h5>Original image</h5>
                <img  class="card card-1" src="{{ original_img.url }}">

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filters
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a href="{% url 'imagefilters:gaussian_filter' pk_original_img %}" ><button class="dropdown-item" type="button">Blurring</button></a>
                        <a href="{% url 'imagefilters:edging_filter' pk_original_img %}" ><button class="dropdown-item" type="button">Edging</button></a>
                        <a href="{% url 'imagefilters:rgb2gray_filter' pk_original_img %}" ><button class="dropdown-item" type="button">Black And White</button></a>
                    </div>
                </div>
        </div>

        <h5>Edited images</h5>

        <div class="main-content">
            <div class="box-2">
                {% for image in all_filtered_imgs %}
                    {% if image.edited_image %}
                        <div>
                            <img class="card card-1" src="{{image.edited_image.url}}">
                            <a href="{% url 'imagefilters:delete_edited_image' pk_original_img image.pk %}"><button type="button">Delete</button></a>
                        </div>
                    {% endif %}
                {% endfor%}
            </div>
        </div>

    </div>
</section>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>