<!DOCTYPE html>
<html lang="en">

{% include 'imagefilters/bootstrap_includes.html' %}

{% load static %}

<nav class="navbar navbar-expand-lg bg-primary text-light">
  <img src="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link bg-primary text-light" href="{% url 'imagefilters:home_page' %}">Home</a>
      </li>
    </ul>
  </div>
    <span><a href="{% url 'imagefilters:user_profile' %}" class="nav-link bg-primary text-light">{{request.user}}</a></span>
    &nbsp;&nbsp;&nbsp;
  <span><a href="{% url 'imagefilters:logout_user' %}" class="nav-link bg-primary text-light">Logout</a> </span>
</nav>

</html>





