<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    {% include 'imagefilters/navbar.html' %}

</head>
<body>

<section class="services py-5 bg-light1 text-center">
    <div class="container">
       <div class="row">
           <div class="col-xs-12 col-sm-6 col-md-3">
               <a href="#" class="text-body">
    		    <div class="card bg-light mb-3">
    		        <div class="card-body">
    		           <i class="fa fa-tachometer fa-4x "></i></br>
                        <small class="text-secondary">Mileage (upto)</small>
                    	<h5>Full Service</h5>
    		        </div>
    		    </div>
    		   </a>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-3">
               <a href="#" class="text-body">
    		    <div class="card bg-light mb-3">
    		        <div class="card-body">
    		           <i class="fa fa-tachometer fa-4x "></i></br>
                        <small class="text-secondary">Mileage (upto)</small>
                    	<h5>Schedule Pickup</h5>
    		        </div>
    		    </div>
    		   </a>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-3">
               <a href="#" class="text-body">
    		    <div class="card bg-light mb-3">
    		        <div class="card-body">
    		           <i class="fa fa-tachometer fa-4x "></i></br>
                        <small class="text-secondary">Mileage (upto)</small>
                    	<h5>Roadside Service</h5>
    		        </div>
    		    </div>
    		   </a>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-3">
               <a href="#" class="text-body">
    		    <div class="card bg-light mb-3">
    		        <div class="card-body">
    		           <i class="fa fa-tachometer fa-4x "></i></br>
                        <small class="text-secondary">Mileage (upto)</small>
                    	<h5>Car Wash</h5>
    		        </div>
    		    </div>
    		   </a>
    		</div>

       </div>
       <div class="row pt-4">
           <div class="col-xs-12 col-sm-6 col-md-3">
               <a href="#" class="text-body">
    		    <div class="card bg-light mb-3">
    		        <div class="card-body">
    		           <i class="fa fa-tachometer fa-4x "></i></br>
                        <small class="text-secondary">Mileage (upto)</small>
                    	<h5>Battery Replacement</h5>
    		        </div>
    		    </div>
    		   </a>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-3">
               <a href="#" class="text-body">
    		    <div class="card bg-light mb-3">
    		        <div class="card-body">
    		           <i class="fa fa-tachometer fa-4x "></i></br>
                        <small class="text-secondary">Mileage (upto)</small>
                    	<h5>Denting/Penting</h5>
    		        </div>
    		    </div>
    		   </a>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-3">
               <a href="#" class="text-body">
    		    <div class="card bg-light mb-3">
    		        <div class="card-body">
    		           <i class="fa fa-tachometer fa-4x "></i></br>
                        <small class="text-secondary">Mileage (upto)</small>
                    	<h5>Parts Replacement</h5>
    		        </div>
    		    </div>
    		   </a>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-3">
               <a href="#" class="text-body">
    		    <div class="card bg-light mb-3">
    		        <div class="card-body">
    		           <i class="fa fa-tachometer fa-4x "></i></br>
                        <small class="text-secondary">Mileage (upto)</small>
                    	<h5>Tyres Services</h5>
    		        </div>
    		    </div>
    		   </a>
    		</div>

       </div>
       <div class="row pt-4">
           <div class="col-xs-12 col-sm-6 col-md-3">
               <a href="#" class="text-body">
    		    <div class="card bg-light mb-3">
    		        <div class="card-body">
    		           <i class="fa fa-tachometer fa-4x "></i></br>
                        <small class="text-secondary">Mileage (upto)</small>
                    	<h5>Upload Cars Photos</h5>
    		        </div>
    		    </div>
    		   </a>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-3">
               <a href="#" class="text-body">
    		    <div class="card bg-light mb-3">
    		        <div class="card-body">
    		           <i class="fa fa-tachometer fa-4x "></i></br>
                        <small class="text-secondary">Mileage (upto)</small>
                    	<h5>Upload Car Details</h5>
    		        </div>
    		    </div>
    		   </a>
    		</div>
    	   <div class="col-xs-12 col-sm-6 col-md-3">
               <a href="#" class="text-body">
    		    <div class="card bg-light mb-3">
    		        <div class="card-body">
    		           <i class="fa fa-tachometer fa-4x "></i></br>
                        <small class="text-secondary">Mileage (upto)</small>
                    	<h5>Track History</h5>
    		        </div>
    		    </div>
    		   </a>
    		</div>


       </div>
    </div>
</section>
{% include 'imagefilters/footer.html' %}

</body>
</html>







